__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.git/
.gitignore
.vscode/
*.md
!README.md
test/
dart_example/
venv/
env/
.env
*.log
.DS_Store
old.txt
generate_keypair.py
BERT_tuning.py
*.db
*.sqlite
*.xlsx
